* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: rgb(243, 241, 241);
}

.right_fbox {
    background-color: rgba(125, 125, 125, 0.2);
    width: 200px;
    height: 150px;
    position: fixed;
    float: right;
    left: 55%;
    top: 34%;
    z-index: 999;
    margin-left: 530px;
    border-radius: 5px;
    text-align: center;
}

.right_fbox p a {
    color: rgb(87, 51, 51);
}

.right_fbox p a:hover {
    color: #c81623;
}

.right_fbox p {
    font-size: 20px;
    margin-top: 20px;
}

.banner {
    border-bottom: 3px solid #868686
}

.head_banner {
    background-image: url(Images/Picasso_banner.jpeg);
    background-size: 100% 100%;
    width: 1200px;
    height: 393px;
    display: flex;
    justify-content: center;
}

.card {
    width: 800px;
    height: 140px;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card p a {
    color: rgb(87, 51, 51);
}

.card p a:hover {
    color: #c81623;
}

.card h3 {
    color: #fff;
    font-size: 20px;
}

.card p {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.pic {
    margin-top: 50px;
}

.pic01 {
    margin-top: 60px;
    width: 1200px;
    height: 470px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
}

.pic_thedream {
    width: 350px;

}

.pic_thedream img {
    max-width: 100%;
    transition: all 1s 0s;
}

.pic_thedream img:hover {
    padding-left: 45px;
}


.answer {
    width: 780px;
    height: 400px;
    margin-left: 80px;
    margin-top: 20px;
    position: relative;
    justify-content: space-between;

}

.answer::after {
    content: '';
    height: 370px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 27px;
    left: -35px;
}

.answer h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer p {
    font-size: 18px;
    margin: 15px 25px;
}

.pic02 {
    margin-top: 60px;
    width: 1200px;
    height: 349px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pic_sapnish img {
    width: 410px;
    height: 349px;
    transition: all 1s 0s;
}

.pic_sapnish img:hover {
    padding-right: 48px;
}

.answer02 {
    width: 780px;
    height: 300px;
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
}

.answer02::after {
    content: '';
    height: 249px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 30px;
    left: 725px;
}

.answer02 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer02 p {
    width: 600px;
    font-size: 18px;
    margin: 15px 80px 25px 25px;
    line-height: 30px;
}

.pic03 {
    margin-top: 60px;
    width: 1200px;
    height: 370px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;

}

.pic_Gypsies {
    width: 500px;
    height: 370px;
}

.pic_Gypsies img {
    transition: all 1s 0s;
}

.pic_Gypsies img:hover {
    padding-left: 40px;
}

.answer03 {
    width: 780px;
    height: 300px;
    margin-left: 80px;
    margin-top: 20px;
    position: relative;
}

.answer03::after {
    content: '';
    height: 270px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 27px;
    left: -40px;
}

.answer03 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer03 p {
    font-size: 18px;
    margin: 100px 25px;
}

.pic04 {
    margin-top: 60px;
    width: 1200px;
    height: 409px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pic_dela img {
    width: 532px;
    height: 409px;
    transition: all 1s 0s;
}

.pic_dela img:hover {
    margin-right: 45px;
}

.answer04 {
    width: 600px;
    height: 200px;
    margin-left: 10px;
    margin-top: 20px;
    position: relative;
}

.answer04::after {
    content: '';
    height: 326px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 27px;
    left: 612px;
}

.answer04 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer04 p {
    font-size: 18px;
    margin: 100px 25px;
    line-height: 30px;
}

.pic05 {
    margin-top: 60px;
    width: 1200px;
    height: 270px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
}

.pic_kettle {
    width: 350px;
    /* height: 200px; */
}

.pic_kettle img {
    max-width: 100%;
    transition: all 1s 0s;
}

.pic_kettle img:hover {
    margin-left: 50px;
}

.answer05 {
    width: 780px;
    height: 300px;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
}

.answer05::after {
    content: '';
    height: 170px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 30px;
    left: -50px;
}

.answer05 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer05 p {
    font-size: 18px;
    margin: 20px 25px;
}

.pic06 {
    margin-top: 60px;
    width: 1200px;
    height: 378px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pic_cock img {
    width: 440px;
    height: 378px;
    transition: all 1s 0s;
}

.pic_cock img:hover {
    padding-right: 30px;
}

.answer06 {
    width: 650px;
    height: 300px;
    margin-left: 10px;
    margin-top: 20px;
    position: relative;
}

.answer06::after {
    content: '';
    height: 278px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 30px;
    right: -70px;
}


.answer06 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer06 p {
    font-size: 18px;
    margin: 40px 25px;
    line-height: 30px;
}

.pic07 {
    margin-top: 60px;
    width: 1200px;
    height: 274px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
}

.pic_Francoise {
    width: 350px;
    height: 274px;
}

.pic_Francoise img {
    max-width: 100%;
    transition: all 1s 0s;
}

.pic_Francoise img:hover {
    padding-left: 35px;
}

.answer07 {
    width: 780px;
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
}

.answer07::after {
    content: '';
    height: 174px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 30px;
    left: -35px;
}

.answer07 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer07 p {
    font-size: 18px;
    margin: 15px 25px 0px 25px;
}

.pic08 {
    margin-top: 60px;
    width: 1200px;
    height: 346px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pic_woman img {
    width: 319px;
    height: 346px;
    max-width: 100%;
    transition: all 1s 0s;
}

.pic_woman img:hover {
    padding-right: 15px;
}

.answer08 {
    width: 780px;
    height: 246px;
    margin-left: 10px;
    margin-right: 65px;
    margin-top: 20px;
    position: relative;
}

.answer08::after {
    content: '';
    height: 274px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 20px;
    left: 855px;
}

.answer08 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer08 p {
    font-size: 18px;
    margin: 25px 25px;
    line-height: 30px;
}

.pic09 {
    margin-top: 60px;
    width: 1200px;
    height: 283px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
}

.pic_catalan {
    width: 350px;
    /* height: 200px; */
}

.pic_catalan img {
    width: 350px;
    height: 283px;
    transition: all 1s 0s;
}

.pic_catalan img:hover {
    padding-left: 35px;
}

.answer09 {
    width: 780px;
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
}

.answer09::after {
    content: '';
    height: 183px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 28px;
    left: -35px;
}

.answer09 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer09 p {
    font-size: 18px;
    margin: 30px 25px;
}

.pic10 {
    margin-top: 60px;
    width: 1200px;
    height: 350px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pic_light img {
    width: 350px;
    height: 350px;
    transition: all 1s 0s;
}

.pic_light img:hover {
    padding-right: 29px;
}

.answer10 {
    width: 780px;
    height: 300px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
}

.answer10::after {
    content: '';
    height: 274px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 20px;
    left: 810px;
}

.answer10 h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.answer10 p {
    font-size: 18px;
    margin: 25px 25px 0px 25px;
    line-height: 30px;
}

.pic11 {
    margin-top: 60px;
    width: 1200px;
    height: 236px;
    background-color: #f7f7f7;
    box-shadow: 8px 10px 20px 5px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
}

.pic_nothing img {
    width: 350px;
    height: 236px;
    transition: all 1s 0s;
}

.pic_nothing img:hover {
    padding-left: 30px;
}

.answer11 {
    width: 780px;
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
}

.answer11::after {
    content: '';
    height: 136px;
    width: 2px;
    background-color: #666;
    position: absolute;
    top: 28px;
    left: -40px;
}

.answer11 h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 25px;
}

.answer11 p {
    font-size: 18px;
    margin: 17px 25px;
}