* {
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root {
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01: #171219;
  --col-02: #f2fbeb;
  --col-03: #5252ff;
  --col-04: #b6e878;
  font-size: 16px;
}

body {
  height: 100vh;
  padding-left: 0.2rem;
  display: flex;
  background-color: var(--col-02);
  color: var(--col-01);
}

.aside {
  flex: 1;
  background: linear-gradient(0deg,
      rgb(13, 21, 134),
      rgb(46, 101, 184) 40%,
      rgb(153, 24, 153));
}

.content {
  flex: 9;
  overflow-y: auto;
}

header {
  height: 3rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #cca7c0, #bac4bf);
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
  -webkit-transition: background 0.5s, color 0.5s;


}


header:hover {
  color: black;
  background: linear-gradient(to right, #c279a5, #b8cfc5);
}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

input {
  flex: 1;
  margin: 1.5%;
  width: 50%;
  height: 50%;
}

#button1:hover {
  background-color: rgb(214, 33, 33);
  margin-top: 1.5rem;

}

#button2:hover {
  background-color: rgb(24, 131, 177);
}

#button3:hover {
  background-color: rgb(185, 200, 15);
}

#button4:hover {
  background-color: rgb(130, 127, 127);
}

#button5 {
  transition: all 0.5s;
}

#button5:hover {
  transform: scale(1.5);
}

#button6:hover {
  background-color: rgb(222, 219, 219);
}

section {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption {
  width: fit-content;
}

dl ul {
  margin-bottom: 0;
}

li {
  font-size: 1rem;
}

dd {
  padding-left: 60px;
}

li ul {
  padding-left: 40px;
}

.img-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img {
  width: 80%;
}

.res-columns {
  column-width: 25rem;
}

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root {
    font-size: 20px;
  }

  .img-wrapper {
    width: 75%;
    margin: 1.5rem auto;
  }
}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root {
    font-size: 24px;
  }

  .img-wrapper {
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }
}